<mat-card class="example-card">

  <mat-card-header>

    <mat-card-title>Task No. {{task.id}}</mat-card-title>
    <mat-card-subtitle>{{project.name}} </mat-card-subtitle>
  </mat-card-header>


  <mat-card-content>
    <p>
      {{task.description}}
    </p>
  </mat-card-content>

  <mat-card-actions *ngIf="task.developer">
    <div class="progress">
      <div [className]=" getProgressBarColor()" role="progressbar" [style.width]="task.progress+'%'" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">{{task.progress}}%</div>
    </div>
    <button mat-button (click)="openDialog()">Edit</button>
  </mat-card-actions>

</mat-card>