<div class="container-fluid">
    <div class="row">
        <div class="col">
            <p><strong><h2>Edit task:</h2></strong></p>
            <form [formGroup]="taskForm">
                <div style="margin: 3%;">
                <mat-form-field class="combobox">
                    <mat-label>Developer</mat-label>
                    <mat-select formControlName="assignee">
                        <mat-option *ngFor="let developer of developers" [value]="developer">
                            {{developer? developer.name : 'Bez'}} {{developer? developer.surname : 'Developera'}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field style="margin-left: 3%;">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                        <mat-option *ngFor="let status of statuses" [value]="status">
                            {{status| titlecase}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
                <div style="margin-left: 3%; margin-top: 3%; margin-bottom: 3%; margin-right: 2%;">
                    Progress
                <mat-slider formControlName="progress" thumbLabel [displayWith]="formatLabel" tickInterval="1" min="1" max="100">
                    
                </mat-slider>
               
                <mat-form-field appearance="standard" style="margin-left: 4%;">
                    <mat-label>Choose a deadline</mat-label>
                    <input formControlName="task_deadline" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                </div>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea formControlName="description" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="5" cdkAutosizeMaxRows="5"></textarea>
                </mat-form-field>
            </form>
        </div>
    </div>
    <div class="row">

        <div class="col text-right">
            <button mat-button color="warn" *ngIf="data.task && !authService.roleMatch(['Developer'])" (click)="deleteTask()">Delete</button>
            <button mat-button color="primary" (click)="data.task ? updateTask() : saveTask()" [disabled]="!taskForm.valid">Save changes</button>
        </div>
    </div>
</div>