<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1 col-6">
            <button mat-button routerLink="">
                <mat-icon>home</mat-icon>
                Home
            </button>
        </div>
        <div class="col-lg-1 col-6" *ngIf="authServ.roleMatch(['Admin','ProjectManager'])">
            <button mat-button routerLink="project">
                <mat-icon>pending_actions</mat-icon>
                Projets
            </button>
        </div>
        <div class="col-lg-1 col-6" *ngIf="authServ.roleMatch(['Admin','ProjectManager'])">
            <button mat-button routerLink="users">
                <mat-icon>group</mat-icon>
                Users
            </button>
        </div>
        <div class="col-lg-1 col-6">
            <button mat-button routerLink="tasks" *ngIf="authServ.roleMatch(['Developer'])">
                <mat-icon>assignment</mat-icon>
                Tasks
            </button>
        </div>
        <div class="col-lg-2 offset-lg-6 text-left">
            <button mat-button (click)="authServ.logOut()" *ngIf="authServ.isAuth()">
                <mat-icon>logout</mat-icon>
                Log Out, {{authServ.loggedUser.username}} ({{authServ.loggedUser.role}})
            </button>
        </div>
    </div>
</div>
