<app-header></app-header>
<!--<div class="card m-5" style="width: 18rem;">
<ul class="list-group">
    <li class="list-group-item"><strong>Username : </strong> {{authService.loggedUser.username}}</li>
    <li class="list-group-item"><strong>Role : </strong> {{authService.loggedUser.role}}</li>
    <li class="list-group-item"><strong>Name : </strong> {{authService.loggedUser.name}}</li>
    <li class="list-group-item"><strong>Surname : </strong> {{authService.loggedUser.surname}}</li>
    <li class="list-group-item"><strong>Email : </strong> {{authService.loggedUser.email}}</li>
</ul>
</div>-->
<router-outlet></router-outlet>

